<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\bd\dbSistemaFacturación.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="Theme" value="Oscuro" />
    <add key="DirectorioRespaldo" value="C:\" />
    <add key="Logo" value=".\recursos\ICO_Image.png" />
    <add key="Empresa" value="Nombre" />
    <add key="Telefono" value="1111-1111" />
    <add key="Correo" value="ejemplo@gmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="AppVer" value="1.0.0.7" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>