<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\bd\dbSistemaFacturación.accdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<appSettings>
		<add key="Theme" value="claro"/>
		<add key="DirectorioRespaldo" value=".\bd\backupDB\"/>
		<add key="Logo" value=".\recursos\ICO_Image.png"/>
		<add key="Empresa" value="Nombre"/>
		<add key="Telefono" value="1111-1111"/>
		<add key="Correo" value="ejemplo@gmail.com"/>
	</appSettings>
</configuration>